@import 'assets/partials/main';

.notification {
    span {
        font-size: 2rem;
        margin-right: $spacer;
    }
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 6;
    top: $spacer;
    right: $spacer;
    padding: calc($spacer * 1.5);
    @include radius;
    font-weight: 700;
    &-error {
        background: crimson;
        color: darken(crimson, 30%);       
    }
    &-success {
        background: #67CEA3;
        color: darken(#67CEA3, 40%);
    }
    &-info {
        background: #448aff;
        color: darken(#448aff, 40%);
    }
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    &-enter {
        animation-name: enterAnim;
    }
    &-leave {
        animation-name: leaveAnim;
    }

    &-timer {
        &-container {
            background: red;
            height: 5px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: #ffffff55;
            transform-origin: right;
            animation-name: timerAnim;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes enterAnim {
    0% { transform: translateX(200%); }
    100% { transform: translateX(0); }
}

@keyframes leaveAnim {
    0% { transform: translateX(0); }
    100% { transform: translateX(200%); }
}
@keyframes timerAnim {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(0); }
}