$green: #79C177;
$primary: #FF8E3C;
$primary-dark: #D7722F;

$themes: (
  light: (
    backgroundColor: #FFFFFF,
    textColor: #000000
  ),
  dark: (
    backgroundColor: #243353,
    textColor: #FFFFFF
  ),
);

@mixin themify( $themes: $themes ) {
    @each $theme, $map in $themes {
  
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed( $key ) {
    @return map-get( $theme-map, $key );
}

@mixin shadowed {
    box-shadow: 3px 15px 0 25px #00000033;
}
