@import 'assets/partials/main';

.navigation-desktop {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: $spacer;
    h1{
        color: $primary;
    }
    nav a{
        @include themify {
            color: themed( 'textColor' );
        }
    }
}

@media screen and (min-width: 600px) {
    .navigation-desktop{
        display: flex;
    }
}