@import 'assets/partials/main';

.projects-page {
    h1 {
        @include themify {
            color: themed( 'textColor' );
        }
    }
    .add-project {
        @include themify {
            background-color: themed( 'deepBg' );
        }
        font-size: 7rem;
        color: $primary;
        height: 230px;
        width: 150px;
        margin: 10px;
    }

        .projects--wrapper {
            display: flex;
            flex-wrap: wrap;
        }

}