.forgot-password--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .forgot-password--title {
    text-align: center;
  }

  .form-validation--error {
    color: #f44336;
  }
}